regex>=2021.4.4
multiprocess>=0.70.11.1
tqdm>=4.49.0
packaging>=20.9
python-Levenshtein>=0.12.2
flair>=0.8.0.post1
spacy>=3.0.6
nltk>=3.4.3
wget>=3.2
fairseq@git+https://github.com/pytorch/fairseq@v0.10.0
torch==1.7.0
datasets@git+https://github.com/huggingface/datasets.git@a5e45816a72fbb20dc9122f88238ef8acba43ee3
numpy==1.20.3
easse@git+https://github.com/feralvam/easse.git